main {
  background-color: #f7f7f7;
}

.card-title {
  font-weight: bold;
}

.spinner {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  height: 100vh;
  font-size: 3rem;
}

.browse-page {
  min-height: 90vh;
  max-width: 964px;
  padding: 48px 16px;

  @media (min-width: 320px) {
    .nav-link {
      font-size: 12px;
      padding: 4px;
    }

    .genres .btn-primary {
      font-size: 12px;
      padding: 4px 6px;
    }

    .card {
      width: 288px;
      margin-bottom: 32px;
    }
  }

  @media (min-width: 375px) {
    .nav-link {
      font-size: 14px;
      padding: 4px;
    }

    .genres .btn-primary {
      font-size: 14px;
      padding: 4px 8px;
    }

    .card {
      width: 343px;
    }

    .card-img-top {
      height: 180px;
    }
  }

  @media (min-width: 425px) {
    .nav-link {
      font-size: 16px;
      padding: 8px;
    }

    .genres .btn-primary {
      font-size: 16px;
      padding: 8px;
      display: flex;
      align-items: center;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    .card {
      width: 188px;
      margin: 0;

      .card-title {
        font-size: 12px;
      }

      .platform {
        font-size: 12px;
        margin-bottom: 8px;
      }

      .btn-primary {
        padding: 4px 8px;
        font-size: 12px;
      }

      .price {
        font-size: 14px;
      }

      .card-img-top {
        height: 130px;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 48px 68px;

    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }

    .card {
      width: 300px;

      .card-title {
        font-size: 20px;
      }

      .platform {
        font-size: 16px;
        margin-bottom: 16px;
      }

      .btn-primary {
        padding: 8px;
        font-size: 16px;
      }

      .price {
        font-size: 18px;
      }

      .card-img-top {
        height: 160px;
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 48px 0;
  }
}

.genres {
  .nav-link.active {
    background-color: #8518c9 !important;
    border: 2px solid #8518c9 !important;
  }

  .nav-link {
    color: #8518c9;
    box-sizing: border-box;
    border: 2px solid #f7f7f7;
  }

  .nav-link:hover {
    color: black;
    background-color: #f7f7f7;
    border: 2px solid #8518c9;
  }

  .btn-primary {
    background-color: #8518c9;
    border: 2px solid #8518c9;
  }

  .btn-primary:hover {
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: black;
    border: 2px solid #8518c9;
  }
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

  .heart-btn .svg-inline--fa {
    background-color: #0a012c;
    padding: 8px;
    border-radius: 50%;
    outline: 2px solid #c571f9;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c571f9;
    font-size: 22px;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #8518c9;
    border: 2px solid #8518c9;
  }

  .btn-primary:hover {
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: black;
    border: 2px solid #8518c9;
  }

  .price {
    font-size: 18px;
  }
}

.card-img-top {
  height: 160px;
}
