main {
  background-color: #f7f7f7;
}

.cart-page {
  min-height: 90vh;
  max-width: 976px;
  padding: 48px 16px;

  .btn-primary {
    background-color: #8518c9;
    border: 2px solid #8518c9;
  }

  .btn-primary:hover {
    background-color: #f7f7f7;
    border: 2px solid #8518c9;
    box-sizing: border-box;
    color: black;
  }
}

.breadcrumb-item a {
  color: #8518c9;
  text-decoration: none;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

  .btn-danger {
    background-color: #ae091a;
    border: 2px solid #ae091a;
  }

  .btn-danger:hover {
    border: 2px solid #ae091a;
    background-color: white;
    color: black;
    box-sizing: border-box;
  }

  .price {
    font-size: 18px;
  }
}

.checkout-container {
  margin-top: 56px;
  text-align: center;

  .btn {
    width: 300px;
  }
}

.empty-cart {
  color: #ae091a;
  font-weight: bold;
  font-size: 32px;
}

@media (min-width: 320px) {
  .cart-page {
    .btn-primary {
      width: 100%;
    }

    .card {
      width: 300px;
    }
  }
}

@media (min-width: 375px) {
  .cart-page {
    .card {
      width: 343px;
    }

    .card-img-top {
      height: 180px;
    }
  }
}

@media (min-width: 768px) {
  .cart-page {
    padding: 48px 68px;
    .card {
      width: 300px;
    }

    .card-img-top {
      height: 160px;
    }
  }
}

@media (min-width: 1024px) {
  .cart-page {
    padding: 48px 0;
    margin: 0 auto;

    .card {
      width: 304px;
    }

    .btn-primary {
      width: 50%;
    }
  }
}
