.checkout-page {
  max-width: 964px;
  padding: 48px 16px;

  .checkout-btn {
    background-color: #8518c9;
    border: 2px solid #8518c9;
  }

  .checkout-btn:hover {
    background-color: #f7f7f7;
    border: 2px solid #8518c9;
    color: black;
  }
}

.your-cart {
  color: #8518c9;
}

.your-cart-items {
  background-color: #8518c9;
}

.modal-footer .confirm-payment {
  background-color: #8518c9;
  border: 2px solid #8518c9;
}

.modal-footer .confirm-payment:hover {
  background-color: white;
  border: 2px solid #8518c9;
  color: black;
}

.modal-footer .cancel-payment {
  border: 2px solid #8518c9;
  background-color: white;
  color: black;
}

.modal-footer .cancel-payment:hover {
  background-color: #8518c9;
  border: 2px solid #8518c9;
}

@media (min-width: 320px) {
  .checkout-conatiner {
    padding: 0;
    margin: 0;

    .order {
      padding: 0;
    }
    .checkout-form {
      padding: 0;
    }

    .form-check.my-4 {
      padding: 0;
    }
  }
}

@media (min-width: 768px) {
  .checkout-page {
    padding: 48px 68px;

    .checkout-form {
      padding-right: 32px;
    }
  }
}

@media (min-width: 1024px) {
  .checkout-page {
    padding: 48px 0;
    margin: 0 auto;
  }
}
