.game-detail-container {
  min-height: 90vh;
  padding: 48px 16px;
}

.img-container {
  position: relative;
  .heart-btn .svg-inline--fa {
    background-color: #0a012c;
    padding: 8px;
    border-radius: 50%;
    outline: 2px solid #c571f9;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #c571f9;
    font-size: 22px;
    cursor: pointer;
  }
}

.game-detail-img {
  width: 100%;
}

.heart-btn {
  border: none;
  background: none;
}

.heart-btn .svg-inline--fa {
  font-size: 1.5rem;
  color: #ff0000;
}

@media (min-width: 768px) {
  .game-detail-container {
    padding: 48px 68px;
  }
}

@media (min-width: 1024px) {
  .game-detail-container {
    padding: 48px 0;
    margin: 0 auto;
    max-width: 964px;

    h1 {
      font-size: 48px;
    }
  }

  .game-detail-container Strong {
    font-size: 18px;
  }

  .game-detail-img {
    width: 964px;
  }
}
