.header-container {
  .navbar {
    background-color: #09012a;
  }

  .nav-link {
    color: white;
  }

  .navbar-brand {
    color: white;
  }

  .nav-link:hover,
  .navbar-brand:hover {
    color: #c571f9;
  }

  .nav-link.btn {
    color: red;
  }

  @media (max-width: 576px) {
    .nav-link {
      text-align: center;
      border: 2px solid white;
      margin: 4px 0 4px;
      border-radius: 4px;
    }

    .nav-link.btn {
      width: 100%;
    }

    .nav-container {
      padding: 0 16px;
    }
  }
}
