.header-container {
  .navbar {
    background-color: #09012a;
  }

  .nav-link {
    color: white;
  }

  .navbar-brand {
    color: white;
  }

  .nav-link:hover,
  .navbar-brand:hover {
    color: #c571f9;
  }

  .nav-link.btn {
    color: #ff0019;
  }

  .nav-link:focus,
  .navbar-brand:focus {
    color: white;
    outline: none;
  }

  @media (min-width: 320px) {
    .nav-link {
      text-align: center;
      border: 2px solid white;
      margin: 4px 0 4px;
      border-radius: 4px;
    }

    .nav-link.btn {
      width: 100%;
    }

    .nav-container {
      padding: 0 16px;
    }
  }

  @media (min-width: 426px) {
    .nav-link {
      border: none;
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    .nav-container {
      padding: 0 68px;
    }

    .nav-link {
      padding: 0 0 0 16px !important;
    }
  }

  @media (min-width: 1024px) {
    .nav-container {
      padding: 0;
      max-width: 964px;
    }
  }
}
